<div class="container white-container">  
    <%= link_to  'Back to list', root_path, class: 'btn btn-info btn-personalised' %>
  <div class="is-flex">
    <div class="container is-flex">
      <%= cl_image_tag @ad.photo.key, class:"img-ad-show" %>
      <div class="ad-infos">
        <p>
          <strong>Nom:</strong>
          <%= @ad.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @ad.description %>
        </p>

        <p>
          <strong>Prix:</strong>
          <%= "#{@ad.price} €" %>
        </p>

        <p>
          <strong>Vendeur:</strong>
          <%= @ad.user.name %>
        </p>

        
        <% if @ad.user_id == current_user.id %>
          <% if policy(@ad).edit? %>
            <%= link_to 'Edit', edit_ad_path(@ad), class: 'btn btn-success btn-personalised' %>
          <% end %>

          <% if policy(@ad).destroy? %>
            <%= link_to 'Delete',
                        ad_path(@ad),
                        class: "btn btn-danger btn-personalised",
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
          <% end %>
        <% end %> 
      </div>
    </div>
      
    <div class="chat-container">
      <% if @ad.user == current_user %>
        <h6>Liste des conversations</h6>
        <% @chatrooms.each do |chatroom| %>
          <div class="is-flex chat-card">
            <p><%= "Conversation avec #{chatroom.user.name}" %></p>
            <%= link_to ad_chatroom_path(@ad, chatroom), class:"btn btn-primary btn-personalised" do %>
              <i class="far fa-comment-dots"></i>
            <%end%>
          </div>
        <% end %>
      <% else %>
        <%= link_to ad_chatroom_path(@ad, @chatroom), class:"btn btn-primary btn-personalised" do %>
          <%= "Contacter le vendeur" %>
        <%end%>
      <% end %>
    </div>
  </div>
</div>
