<div class="container">
  <h1 id="hero-title">Dashboard</h1>

  <%= link_to "Créer une annonce", new_ad_path, class:"btn btn-success"  %>

  <div class="is-flex">
    <div class="container">
      <h2>Mes annonces</h2>
      <% @user_ads.each %>
      <% @user_ads.each do |ad| %>
        <%= link_to ad_path(ad) do %>
          <div class="card-dashboard">
            <div class="is-flex">
              <%= cl_image_tag ad.photo.key, height: 120, width: 115, crop: :fill %>
              <div class="card-power-infos">
                <div>
                  <h3><%= ad.name %></h3>
                  <h4><%= ad.department %></h4>
                </div>

                <p><%= ad.price %>€</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="container">
      <h2>Profil</h2>
      <h3><%= current_user.email %></h3>
    </div>

  </div>
</div>